
/* * {
    margin: 0px;
    padding: 0px;
} */

html {
    font-family: sans-serif;
}

p {
    font-size: 16px;
    font-weight: 450;
}

div {
    background-color: rgb(207, 223, 202);
}

#new-color {
    background-color: rgb(139, 159, 169);
}

.flex-container {
    padding: 0;
    margin: 0;
    border: 1px solid silver; /* This outlines the container */
    display: flex; /* Activate flexbox */
    flex-wrap: wrap; /* wrap items around hwen you run out of space */
    height: auto; /* grow to whatever size you need */
}

.flex-item {
    background-color: rgb(195, 159, 199);
    padding: 5px;
    width: 200px;
    height: 200px;
    line-height: 200px; /* This says how big one line of text is */
    margin: 10px; /* This margin sets the size of the flex container */
    text-align: center; /* This will center vertically since line-height is set */
}

.flex-item:hover {
    background-color: rgb(104, 42, 111);
    transition: background-color 1s;
}

